@import "fonts.css";

ul{
    list-style: none;
}

:root{
    --csColor:lineae
}
body{
    direction: rtl;
    background: linear-gradient(to left,#20232a,#282c34);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{

    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: absolute;
    width: 50%;
    height: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

}
.box-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.box-info .box-info-title h4{
    font-size: 25px;
    color: #ffffff;
    font-family: iransans-medium;
}
.box-info .box-info-title h4 a{
    text-decoration: none;
    font-size: 25px;
    color: #61dafb;
    font-family: iransans-medium;

}
.box-info .box-info-more h5{
    color: #ffffff;
    font-size: 23px;
    font-family: iransans-ultralight;
    margin-top: 20px;
    text-align: right;
    width: 100%;

}
.box-info .box-info-desc{
    font-family: iransans-ultralight;
    font-size: 20px;
    color: #ffffff;
    margin-top: 40px;
    text-align: center;
    width: 70%;

}
.box-info .box-info-contact-icons{
    text-align: center;
    margin-top: 20px;
    width: 80%;
}
.box-info .box-info-contact-icon-item{
    text-align: right;
    margin: 10px 0;
    width: 80%;
    color: white;
    font-size: 25px;
    font-family: iransans-ultralight;
    text-decoration: none;
    display: block;
}
.box-info .box-info-contact-icon-item i{


    font-size: 30px;
    padding-left: 10px;
    color: #ffffff;
}
